@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@423&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
body {
	margin: 0;
	overflow-x: hidden;
	color: #292F36;
    padding-bottom: 70px;
}



/* Main Section Start */
.nav {
	height: 80px;
	background: #ffffff;
	position: fixed;
	top: 0;
	width: 100vw;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	font-weight: 570;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 4;
}

.links {
	display: flex;
	margin-right: 20px;
}

.links div {
	margin: 0 13px;
	color: #222;
	cursor: pointer;
	transition: color 0.3s ease;
}

.links div:hover {
	color: #f46767;
}

.background {
	width: 100vw;
	height: 78vh;
	background: url('images/background.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 80px;
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	overflow: visible;
}

.overlay {
	background: #000;
	opacity: 0.7;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}

.countries {
	background: #fff;
	width: 45vw;
	height: 60px;
	z-index: 2;
	position: relative;
	top: 40px;
	border-radius: 100px;
	display: flex;
	align-items: center;
	font-family: 'Josefin Sans', sans-serif;
	justify-content: space-around;
	padding: 2px 20px 0 20px;
	font-size: 15px;
}

.know {
	font-weight: 700;
	font-size: 16px;
}

.logo {
	width: 200px;
	height: 80px;
	background: url('images/logo.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 20px;
}

.heading {
	color: #fff;
	font-size: 85px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	text-align: center;
	letter-spacing: 3px;
}

.center {
	height: 80%;
	position: relative;
	z-index: 2;
	display: flex;
	align-items: center;
}
.circle {
	width: 230px;
	height: 230px;
	position: absolute;
	z-index: 2;
	background: linear-gradient(90deg, rgba(242, 64, 64, 1) 0%, rgba(244, 103, 103, 1) 100%);
    border-radius: 200px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

.circle1 {
	bottom: -35px;
	right: -40px;
}

.circle2 {
	bottom: 70px;
	right: -90px;
}

.circle3 {
	bottom: -30px;
	right: 80px;
}
/* Main Section End */



/* About Section Start */
.container{
    width: 100vw;
    display: flex;
    align-items: center;
	justify-content: center;
	flex-direction: column;
}
.about{
    width:65vw;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
	align-items: center;
	font-family: 'Source Sans Pro', sans-serif;
}

.sectionHead{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line{
    width: 70px;
    height: 2px;
    background: linear-gradient(90deg, rgba(242, 64, 64, 1) 0%, rgba(244, 103, 103, 1) 100%);
}

.atext{
	font-size: 20px;
	margin: 0 20px;
	text-align: justify	;
}

.quote{
	margin-top: 20px ;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    letter-spacing: 1px;
}

.images{
	width: 100vw;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.li{
	width: 100vw;
	height: auto;
	display: flex;
	justify-content: space-around;
	position: relative;
}

.li2{
	width: 60vw;
}

.bar{
	width: 100%;
	height: 150px;
	background: linear-gradient(90deg, rgba(242, 64, 64, 1) 0%, rgba(244, 103, 103, 1) 100%);
	position: absolute;
	z-index: -1;
	top: 60px;
}


.box{
	text-align: center;
	width: 270px;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 1px;
	margin-bottom: 30px;
}

.img{
	height: 270px;
	width: 270px;
}

.members{
	width: 80vw;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.mname{
	font-weight: 700;
	font-size: 19px;
	text-transform: uppercase;
}

.mpost{
	font-size: 15px;
}

.mtext{
	font-size: 12px;
	text-align: justify;
	font-weight: 300;
}
/* About Section End */



/* Service Section Start */

.points{
	margin: 0 10vw;
	display: flex;
	flex-direction: column;
	margin-top: 15px;
	align-items: center;
}

.point{
	height: 70px;
	width: 60vw;
	margin: 16px 0;
	background: #fff;
	border-radius: 10px;
	line-height: 70px;
	font-size: 17px;
	text-align: center;
	box-shadow:  0px 0px 8px 0 rgba(185, 89, 89, 0.2);
}

/* Service Section End */



/* Explore Section Start */

.l2{
	margin-top: 5px;
}

.exp{
	margin-top: 30px;
}

.cbox{
	width: 250px;
	height: 250px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	margin: 20px 20px;
	border-radius: 8px;

}

.clist{
	width: 80vw;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin:40px 10vw 0 10vw;
}

.ph{
	width: 230px;
	height: 230px;
	margin-left: 10px;
	margin-top: 10px;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.photo{
	width: 230px;
	height: 230px;
	transform: scale(1);
	transition: transform 0.5s ease;
}

.ph:hover > .photo{
	transform: scale(1.08);
}

.cname{
	position: absolute;
	z-index: 1;
	color: #fff;
	font-family: Josefin Sans;
	font-weight: 700;
	font-size: 35px;
}

/* Explore Section End */
